<%- include("partials/header") %>
    <div>
        <h1>To-Do List</h1>
    </div>
    <div>
        <a href="/add-task">Add Task</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
            </tr>
            <% for(let i=0; i<tasks.length; i++){ %>
                <tr>
                <td><%= tasks[i].title %></td>
                <td><%= tasks[i].description %></td>
                <td><%= moment(tasks[i].createdAt).format("DD/MMM/YYYY, HH:mm:ss") %></td>
                <td><%= moment(tasks[i].updatedAt).format("DD/MMM/YYYY, HH:mm:ss") %></td>
                <td>
                    <div>
                        <a href="/update-task/">Update</a>
                        <a href="/delete-task">Delete</a>
                    </div>
                </td>
            </tr>
            <% } %>

        </table>
    </div>
<%- include("partials/footer") %>